.profileContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0px;
}

.profile {
  display: flex;
  margin-top: 50px;
  width: 1000px;
  height: 150px;
}

.profile img {
  margin-top: 0px;
}

.info {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  width: 350px;
  margin-top: 0px;
}

.info label {
  margin-left: 0px;
}

.cart {
  margin-top: 50px;
  width: 1200px;
  text-align: left;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}

.show_all_btn {
  max-width: 200px;
  max-height: 30px;
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  touch-action: manipulation;
  align-items: center;
}
